<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <title>Flowable</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta content="0;views/ie/ie.html"/>
    <![endif]-->
    <link rel="stylesheet" href="../libs/fontawesome-free-web/css/all.min.css" />
    <link rel="stylesheet" href="../libs/layui/css/layui.css" />
    <script src="../libs/layui/layui.js"></script>
    <link rel="stylesheet" href="../style/qb.css" />
    <script src="../script/qb.js"></script>

</head>

<body>
    AAAA
</body>
</html>